{% extends 'base.html' %}

{% block content %}
    <div class="row">
        <div class="col-md-4 mx-auto col-12"><h1>Hello Dispatcher</h1></div>
    </div>

    <div class="row mb-3">
        <div class="col-md-4 mx-auto col-10">
            <form class="form" method="POST" action="../trip/add">
                {% csrf_token %}
                <input type="hidden" value="/dispatching/home/1" name="next">
                <div class="mb-3"><input type="text" placeholder="Trip No" name="trip_no" id="trip_no" class="form-control"></div>
                <div class="mb-3"><input type="text" placeholder="Origin City" name="origin_city" id="origin_city" class="form-control"></div>
                <div class="mb-3"><input type="text" placeholder="Destination City" name="destination_city" id="destination_city" class="form-control"></div>
                <div class="mb-3"><button type="submit" class="btn btn-primary">Add Trip</button></div>
            </form>
        </div>
    </div>

    <div class="row" id="trip">
        
    </div>

    <script>
        var tripsElement = document.getElementById("trip")

        const xhr = new XMLHttpRequest();
        const method = 'GET'
        //  Be aware that we are in dispatching/home and we need to render dispatching/trips so we need to go one trr level down -->
        //  We have to define the url we are targetting to get data from-->
        const url = '../trips'
        const responseType = "json"
        xhr.responseType = responseType
        xhr.open(method, url)
        xhr.onload = function() {
            //  console.log(xhr.response)
            const serverResponse = xhr.response
            const listedItems = serverResponse.response
            
            var listedTripsList = ""
            var i;
            for (i=0;i<listedItems.length;i++){
                console.log(i)
                console.log(listedItems[i])
                var currentItem = listedItems[i].origin_city
                listedTripsList += "<div class='col-md-10 mx-auto col-10' id='trip-data'> Trip "+ listedItems[i].trip_no +" is going form "+ listedItems[i].origin_city +" to "+ listedItems[i].destination_city +"</div>"
            }
            tripsElement.innerHTML = listedTripsList
        }
        xhr.send()
    </script>
{% endblock content %}