{% extends 'base.html' %}

{% block content %}
    <h1>Hello</h1>

    <script>
        <!-- first of all we need to create an object for the XMLHttpRequest. -->
        const xhr = new XMLHttpRequest();

        <!-- we have to define the method we gonna use -->
        const method = 'GET'

        <!-- Be aware that we are in dispaftching/home and we need to render dispatching/trips so we need to go one trr level down -->
        <!-- We have to define the url we are targetting to get data from
        -->
        const url = '../trips'

        <!-- Define the response type you are expecting -->
        const responseType = "json"

        <!-- now we have to make sure the response type we are getting from the requets is what we are processing -->
        xhr.responseType = responseType

        <!-- Open the request -->
        xhr.open(method, url)

        <!-- define what you want to do with the request -->
        xhr.onload = function() {
            console.log(xhr.response)
            var serverResponse = xhr.response
            var listedItems = serverResponse.response
        }

        <!-- sending the request -->
        xhr.send()
    </script>
{% endblock content %}